*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.container{
    max-width: 80%;
    padding: 34px;
    margin: auto;
}
.container h1,p{
    text-align: center;
    font-size: 40px;
}

input, textarea{
    width: 80%;
    margin: 11px auto;
    padding: 7px;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
}

p{
    font-size: 17px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    color: white;
    background: purple;
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}

.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;

}

.sub{
    font-size: 25px;
    color: green;
}